# ======================
# Python
# ======================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ======================
# Virtual Environments
# ======================
.venv/
venv/
ENV/

# ======================
# PyInstaller
# ======================
build/
dist/
*.spec.bak

# ======================
# Logs & temp
# ======================
*.log
*.tmp

# ======================
# OS
# ======================
.DS_Store
Thumbs.db

# ======================
# IDEs
# ======================
.vscode/
.idea/

# ======================
# Environment
# ======================
.env
.env.*
